<div class="container">
    <div class="row">
        <div class="col-8 offset-md-2">
<div class="card">
  <div class="card-header">
   {{post.title}} by {{users.username}} on {{post.date_created}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

{{!--{{#each comments as [comment]}}
<div class="card">
  <div class="card-header">
   comment by {{comment.user_id}}
  </div>
  <div class="card-body">
    <p class="card-text">{{comment.content}}</p>
  </div>
</div>

{{/each}}--}}

</div>
</div> 
</div>