<div class="container">
    <div class="row">
        <div class="col-8 offset-md-2">
<div class="card">
  <div class="card-header">
   <a href="/post/{{post.id}}">{{post.title}}</a> by {{post.user_id}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

{{!--{{#each comments as [comment]}}
<div class="card">
  <div class="card-header">
   comment by {{post.user_id}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

{{/each}}--}}

</div>
</div> 
</div>